/*公用*/
.comWidth{
	width: 1170px;margin-left: auto;margin-right: auto;
}
.comFont{
	font-size: 12px;
	font-weight: bold;
	font-family: "Roboto";
}
/*顶部样式排版*/
.headTop{
height: 82px;
background-color: #FFFFFF;
line-height: 82px;
border-bottom: solid 1px #FAFAFA;
}
.leftArea{
	float: left;
}
.collection{
	font-size: 22.65px;
	font-family:"Adobe Heiti Std","Adobe 黑体 Std R";
	line-height: 82px;
}
 .rightArea{
	float: right;
	height: 82px;
} 
.Topcell{
	float: left;
	width: 110px;
	line-height: 82px;
	background: url(../images/icons/topcell.jpg)left center no-repeat;
	padding-left: 23px;
}
.TopEmail{
   float: left;
	width: 154px;
	line-height: 82px;
	background: url(../images/icons/topEmail.jpg)left center no-repeat;
	padding-left: 23px;
}
.TopPrice{
	float: left;
	width: 46px;
	line-height: 82px;
	background: url(../images/icons/topShop.jpg)left center no-repeat;
	padding-left: 23px;
}
.TopCheck{
	float: left;
	width: 69px;
	line-height: 82px;
	background: url(../images/icons/TopLow.gif)right center no-repeat;
	padding-right: 23px;
}
.headBottom{height:40px;background-color: #FFFFFF;line-height:40px;border-top: solid 1px #EDEDED;width: 1170px;}
 .nad{float: left;margin-left: -120px}
.nad ul{list-style-type:none;margin: 0;}
.nad ul li{float: left;margin:5px 20px;font-family: "Roboto";font-size: 14px;}  
/*  .nad{width: 536px;height: 40px;background-color: #fff;margin-left: -40px;float: left;}
.nad ul{list-style: none;}
ul li{float: left;width:76px; line-height:40px;text-align: center;} */
 
/* .shangpin{width:1170px;height: 658px;margin: 0 auto;}
.showImage{width:1170px;height: 658px; float: left;left: -1171px;}
.ul li:a{display: inline;vertical-align: middle;height: 658px;line-height: 658px; }
.ImageShow{display: block;overflow: hidden;} */


#container { width: 1366px; height: 660px;overflow: hidden; position: relative;margin: 0 auto;}
 #list { width: 9562px; height: 660px; position: absolute; z-index: 1;}
 #list img { float: left;}
 #buttons { position: absolute; height: 10px; width: 200px; z-index: 2; bottom: 20px; left: 683px;}
 #buttons span { cursor: pointer; float: left; border: 1px solid #fff; width: 10px; height: 10px; border-radius: 50%; background: #333; margin-right: 5px;}
 #buttons .on {  background: orangered;}
 .arrow { cursor: pointer; display: none; line-height: 39px; text-align: center; font-size: 36px; font-weight: bold; width: 40px; height: 40px;  position: absolute; z-index: 2; top: 330px; background-color: RGBA(0,0,0,.3); color: #fff;}
 .arrow:hover { background-color: RGBA(0,0,0,.7);}
 #container:hover .arrow { display: block;}
 #prev { left: 20px;}
 #next { right: 20px;}

 /*商品展示框*/
 .shopClass{padding-left: 0px;margin-top:65px;}
  .shop_item{width: 360px;height: 360px;margin-right: 30px;float: left;}
  .shop_text{top: 25px;}
 .shop_item h3{font-size: 22.65px;font-family:"Adobe Heiti Std","Adobe 黑体 Std R";color: #F3593F; }
 .shop_item p{font-family: "Roboto";font-size: 14px;color: #7E7F83;line-height: 18px;}


/*商品展示分割线*/
.Shopline{width: 570;height: 50px;display: block; clear: both;}
.Shopline img{padding-left: 300px; float: left;display: block;}
.Showline{padding-left: 715px; float: left;display: block;}
.Shopline p{font-family:"Adobe Heiti Std","Adobe 黑体 Std R";font-size: 22.65px;color: #67676D;padding-left: 500px;}


/*model展示*/
.show_item{width: 270px;height: 430px; border:1px solid #EDEDED; float: left;margin-right: 20px;}
.Show_text{width: 230px;height: 107px;/* padding:45 40 0 44; */ border-bottom: 1px solid #EDEDED;margin: auto;}
.Show_text h3{font-family:"Adobe Heiti Std","Adobe 黑体 Std R";font-size: 18px;color: #67676D; left: 0;line-height: 20px; }
.Show_text h4{font-family:"Adobe Heiti Std","Adobe 黑体 Std R";font-size: 14px;color: #67676D;left: 0;line-height: 20px; }
.Show_text p{font-family:"Adobe Heiti Std","Adobe 黑体 Std R";font-size: 10px;color: #67676D; left: 0;line-height: 12px; font-weight:150;}
.Show_icon{height:28px;width: 270px; padding-top: 15px;}
.ShowPrice{float: left;}
.ShowPrice p{font-family:"Adobe Heiti Std","Adobe 黑体 Std R";font-size: 14px;color: #F3593F; padding-left: 15px;}
.Show_i{float: right; padding-right: 20px;}







/*底部*/
.footer{height:456px;width: 2038px; margin: auto;margin-top:500px;}
.footer_top{height: 101px;width: 2038px;background-color: #F3593F;}
.footer_bottom{width:2038px;height:335px;background-color: #292D33; }
.footer_top_left{float: left;padding-left: 198px;}
.footer_top_left p{font-family:"Adobe Heiti Std","Adobe 黑体 Std R";font-size: 22.65px;color: #FFFFFF;line-height: 101px;}
.footer_top_right{line-height: 101px;}

.footer_top_right_input{width:206px;height: 38px;background-color: #FFF;float:left;font-family: "Roboto";font-size: 14px;margin-left: 330px;margin-top: 30px;padding-left: 35px;}
 .footer_top_right_search{width:104px;height: 38px;background-color: #FF674F;margin-right: 680px;
  float: right;margin-top: 30px;font-family: "Roboto";font-size: 14px;color: #fff;} 


 /*footer_bottom*/
 .footer_bottom{float: left;margin: auto;}
 .footer_bottom ul{list-style-type:none;margin-left: 120px;}
 .footer_bottom ul li{float: left;margin:20px 40px;} 
  .footer_bottom ul li a{font-family:"Adobe Heiti Std","Adobe 黑体 Std R";font-size: 22.65px;color: #FFF;}
  .footer_our p{font-family:"Adobe Heiti Std","Adobe 黑体 Std R";font-size: 14px;color: #7D7F83;}
  .footer_icon{width: 163px;height: 41px;margin-top: 10px;}
  .footer_icon img{float: left;margin-right: 10px;}

.footer_Blog{width: 273;height: 21px;margin: auto;}
.footer_Blog h3{font-family:"Adobe Heiti Std","Adobe 黑体 Std R";font-size: 14px;color: #FFF;}
.footer_Blog p{font-family: "Roboto";font-size: 14px;color: #7D7F83;}

.footer_Support{width: 300px;/* overflow: hidden; */height: 250px;margin-top: 10px;}
.footer_Support p{font-family: "Roboto";font-size: 14px;color: #7D7F83;line-height: 25px;}


.footer_contact{width: 380;height: 270px;}
.footer_contact_text{width: 240px;height:33px;background-color: #FFF;float:left; font-family: "Roboto";font-size: 14px;margin-top:10px;padding-left: 35px; }
.footer_contact_input{width:380;height: 83px;background-color: #FFF;float: left; font-family: "Roboto";font-size: 14px;
margin-top:70px;padding-left: 35px;display: block;margin-left: -275px;}
.footer_contact_search{width: 120px;height: 33px;background-color:#F3593F;font-family: "Roboto";font-size: 12px;color: #fff;margin-top: 180px;
margin-left: -275px;}
